.vs/slnx.sqlite
.vs/SWD392/CopilotIndices/17.14.827.52834/CodeChunks.db
.vs/SWD392/CopilotIndices/17.14.827.52834/SemanticSymbols.db
.vs/SWD392/FileContentIndex/2afe77d0-5b66-44e3-80f8-7d5d451d5ada.vsidx
.vs/SWD392/FileContentIndex/83c05713-2164-4eec-ab27-4b43b54e70a7.vsidx
.vs/SWD392/FileContentIndex/b2efc214-026b-4101-84ea-fcc8c7f62da5.vsidx
.vs/SWD392/FileContentIndex/fb4dc3a7-d81e-4d0b-af10-f10be62f5653.vsidx
.vs/SWD392/v17/.wsuo
.vs/SWD392/v17/DocumentLayout.backup.json
.vs/slnx.sqlite

.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SWD392/v17/workspaceFileList.bin
